body {
    font-family: Arial, sans-serif;
    background-image: url('../images/pic1.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form, button {
    margin: 10px 0;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#weather {
    margin-top: 20px;
}

